@inject HttpClient Http
@page "/elasticSearch"
@using CommonServiceLocator
@using Newtonsoft.Json
@using SolrNet
@using uploadTest.Shared

<FileUpload/>

<!--Search input--> 

<MudTextField @bind-Value="search.Text" 
                Label="Search" 
                Variant="Variant.Outlined" 
                Adornment="Adornment.End" 
                AdornmentIcon="@Icons.Filled.Search" 
                OnAdornmentClick="Query"
                AdornmentColor="Color.Secondary" /> 
<!--
<EditForm OnSubmit="Query" Model="search">
    <input @bind-value="search.Text" placeholder="some text"/> 
    <button type="submit">Submit</button>
</EditForm> 
-->
@*
@if(indexFields != null)
{
    foreach (var item in indexFields)
    {
        <br />
/*
        <b>aplha-2 = </b> foreach (var q in @item.Alpha_2){ @q }<br />
        <b>aplha-3 = </b> foreach (var q in @item.Alpha_3){ @q }<br />
        <b>CountryCode = </b> foreach (var q in @item.CountryCode){ @q }<br />
        <b>Id = </b> @item.Id<br />
        <b>Iso3116-2 = </b> foreach(var q in @item.Iso3116_2) @q<br />
        <b>Name = </b> foreach(var q in @item.Name) @q<br />
        <b>Region = </b> @item.Region.Single()<br />
        <b>RegionCode = </b> foreach(var q in @item.RegionCode) @q <br />
        <b>SubRegion = </b> foreach(var q in @item.SubRegion) @q <br />
        <b>SubRegionCode = </b> foreach(var q in @item.SubRegionCode) @q <br />
                            */
        <b>Id = </b> @item.Id<br />
        <b>Path = </b> @item.Path <br/>
        <b>File Name = </b> @item.DocName.Single() <br />
        <b>File Content = </b> @item.DocContent.Single() <br/>
        

    }
}*@
<br /> <br />

<TableView Files="indexFields"/>

@code {
    public Search1 search = new Search1();
    public string Search { get; set; } = "";
    private string q = "*:*";
    public double? Amount { get; set; }
    public int? Weight { get; set; }
    private bool Clearing = false;
    public List<IndexFields>? indexFields = null;
    public async void Query()
    {

            q = search.Text;
        var response = await Http.GetFromJsonAsync<List<IndexFields>>($"api/File/Query/{q}");
        indexFields = response;
        StateHasChanged();
    }
       
}